albumentations
boxmot
coremltools
ipython
matplotlib
numpy
onnxruntime
opencv-python-headless
pafy
pandas
Pillow
protobuf
PyYAML
Requests
scipy
seaborn
setuptools
tensorflow
tflite_runtime
thop
torch
torchvision
tqdm
train
